SPRING_APPLICATION_NAME=notification-service
SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8087

NOTIFICATION_DB_URL=jdbc:mysql://mysql-notification:3306/banquito_notification_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Guayaquil
NOTIFICATION_DB_USERNAME=banquito_app
NOTIFICATION_DB_PASSWORD=change_me_notification_db_password

JPA_DDL_AUTO=validate
HIBERNATE_FORMAT_SQL=false
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTH=false
SMTP_STARTTLS_ENABLE=false
SMTP_CONNECTION_TIMEOUT=5000
SMTP_TIMEOUT=5000
SMTP_WRITE_TIMEOUT=5000

ACTUATOR_EXPOSURE=health,info
OPENAPI_DOCS_PATH=/api-docs
SWAGGER_UI_PATH=/swagger-ui.html

INTERNAL_SERVICE_KEY=change_me_internal_service_key
JWT_ISSUER=banquito-identity-access
JWT_SECRET=change_me_shared_jwt_secret
NOTIFICATION_GRPC_PORT=9097
NOTIFICATION_DELIVERY_MODE=SIMULATED
NOTIFICATION_PROVIDER=SMTP
SMTP_FROM=no-reply@banquito.com
SMTP_REPLY_TO=
